@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --bg-color: #0a1118;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color) !important;
  font-family: 'Montserrat', sans-serif;
}

/* Rest of your CSS...  */